.table-logo {
    height: 30px;
    max-width: 100%;
}

.logo-column {
    width: 100px;
    padding: 5px 0px;
    text-align: center !important;
}

.lang-column {
    width: 30px;
    padding: 0px;
    text-align: center !important;
}

.url-column {
	width: 40%;
}

.clicks-column {
	width: 100px;
	text-align: center;
}

.graph_container {
    position: relative;
}

.loading_container {
    text-align: center;position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
}

td {
    vertical-align: middle !important;
}

table th a {
    cursor: pointer;
}

table th i.fa.pull-right {
    font-size: 10px;
    margin-top: 5px;
    color: #000000;
}

table td.url-column input {
    font-size: 10px !important;
    width: 100%;
}

table.compensation-table {
    margin: 0px;
    padding: 5px 0px;
    width: 100%;
}

table.compensation-table td {
    padding: 0px;
    margin: 0px;
    font-size: 9px;
}

table.compensation-table td.right {
    text-align: right;
}
